@model AlqoMishi.ViewModels.AtencionTurnoViewModel

<h2 class="mb-4">🩺 Atención Veterinaria</h2>

<div class="card shadow-sm p-4">

    <div class="mb-4">

        <h5 class="border-bottom pb-2">🐾 Información del paciente</h5>

        <div class="row mt-3">

            <div class="col-md-4">
                <strong>Mascota:</strong> @Model.Mascota
            </div>

            <div class="col-md-4">
                <strong>Cliente:</strong> @Model.Cliente
            </div>

            <div class="col-md-4">
                <strong>Fecha:</strong> @Model.Fecha.ToString("dd/MM/yyyy")
            </div>

        </div>

    </div>


    <form asp-controller="Admin"
      asp-action="GuardarHistorial"
      method="post">

        <input type="hidden" name="TurnoId" value="@Model.TurnoId" />
        <input type="hidden" name="MascotaId" value="@Model.MascotaId" />
        <input type="hidden" name="VeterinarioId" value="@Model.VeterinarioId" />
        <input type="hidden" name="Fecha" value="@DateTime.Now" />
        <div class="card shadow-sm p-4">

        <h5 class="mb-3">🩺 Consulta médica</h5>

            <div class="mb-3">
            <label>Diagnóstico</label>
            <textarea class="form-control"
            name="Diagnostico"
            placeholder="Ej: Gastroenteritis, infección cutánea, control general..."></textarea>
            </div>

            <div class="mb-3">
            <label>Tratamiento</label>
            <textarea class="form-control"
            name="Tratamiento"
            placeholder="Ej: dieta blanda durante 3 días, reposo, limpieza de herida..."></textarea>
            </div>

            <div class="mb-3">
            <label>Medicamentos</label>
            <textarea class="form-control"
            name="Medicamentos"
            placeholder="Ej: Amoxicilina 250mg cada 12h por 7 días"></textarea>
            </div>

            <h5 class="mt-4">📊 Signos clínicos</h5>

            <div class="row">

            <div class="col-md-6 mb-3">
            <label>Peso</label>
            <input type="number" step="0.1" name="Peso" class="form-control">
            <span class="input-group-text">°C</span>
            </div>

            <div class="col-md-6 mb-3">
            <label>Temperatura</label>
            <input type="number" step="0.1" name="Temperatura" class="form-control">
            <span class="input-group-text">kg</span>
            </div>

            </div>

            <div class="mb-3">
            <label>Observaciones</label>
            <textarea class="form-control"
            name="Observaciones"
            placeholder="Ej: paciente activo, leve deshidratación, se recomienda control en 7 días"></textarea>
            </div>

            <div class="d-flex justify-content-between mt-4">
            @if (User.IsInRole("Admin") || !User.Identity.IsAuthenticated)
            {
                <a asp-controller="Admin"
                asp-action="Turnos"
                class="btn btn-outline-secondary">
                ⬅ Volver a turnos
                </a>
            }else if (User.IsInRole("Empleado") || !User.Identity.IsAuthenticated)
            {
                <a asp-controller="Veterinario"
                asp-action="Agenda"
                class="btn btn-outline-secondary">
                ⬅ Volver a turnos
                </a>
            }

            <button class="btn btn-success">
            💾 Guardar historial médico
            </button>

            </div>

        </div>

</form>

</div>