@model List<AlqoMishi.Entidades.Empleado>

<h2>Administración de Veterinarios</h2>

<a class="btn btn-primary mb-3" href="/Admin/CrearEmpleado">
    Nuevo veterinario
</a>

<table class="table table-striped table-hover">

<thead>
<tr>
<th>Veterinario</th>
<th>Email</th>
<th>Especialidad</th>
<th>Disponible</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

@foreach(var emp in Model)
{
<tr>

<td>
@emp.Usuario.Nombre @emp.Usuario.Apellido
</td>

<td>
@emp.Usuario.Email
</td>

<td>
@emp.Especialidad
</td>

<td>
@if(emp.EstaDisponible)
{
<span class="badge bg-success">Disponible</span>
}
else
{
<span class="badge bg-secondary">No disponible</span>
}
</td>

<td>
<a class="btn btn-warning btn-sm" asp-action="EditarEmpleado" asp-route-id="@emp.Id">Editar</a>
<a class="btn btn-danger btn-sm" asp-action="EliminarEmpleado" asp-route-id="@emp.Id">Eliminar</a>
</td>

</tr>
}

</tbody>

</table>