@model IEnumerable<AlqoMishi.ViewModels.TurnoAdminViewModel>

<h2>Historial de turnos</h2>

<div class="card shadow-sm mb-4">

<div class="card-body">

<form method="get" class="row g-3">

<div class="col-md-3 col-12">
<label class="form-label">Fecha</label>
<input type="date" name="fecha" class="form-control">
</div>

<div class="col-md-3 col-12">
<label class="form-label">Veterinario</label>
<select name="veterinarioId" class="form-select">

<option value="">Todos</option>

@foreach (var vet in ViewBag.Veterinarios)
{
<option value="@vet.Id">
@vet.Usuario.Nombre @vet.Usuario.Apellido
</option>
}

</select>
</div>

<div class="col-md-2 col-12">
<label class="form-label">Estado</label>
<select name="estado" class="form-select">

<option value="">Todos</option>
<option>Reservado</option>
<option>En espera</option>
<option>Atendido</option>
<option>Cancelado</option>

</select>
</div>

<div class="col-md-2 col-12">
<label class="form-label">Mascota</label>
<input type="text"
name="mascota"
class="form-control"
placeholder="Buscar...">
</div>

<div class="col-md-2 col-12 d-flex align-items-end gap-2">

<button class="btn btn-primary w-100">
Filtrar
</button>

<a href="/Admin/Turnos" class="btn btn-outline-secondary w-100">
Limpiar
</a>

</div>

</form>

</div>
</div>

<div class="table-responsive">
<table class="table table-striped">

<thead>
<tr>
<th>Mascota</th>
<th>Cliente</th>
<th>Veterinario</th>
<th>Fecha</th>
<th>Hora</th>
<th>Estado</th>
<th>Precio</th>
<th></th>
</tr>
</thead>

<tbody>

@foreach(var turno in Model)
{
<tr>

<td>@turno.Mascota</td>

<td>@turno.Cliente</td>

<td>@turno.Veterinario</td>

<td>@turno.Fecha.ToShortDateString()</td>

<td>@turno.HoraInicio</td>

<td>
   @if (turno.Estado == "Reservado")
{
<span class="badge bg-primary">Reservado</span>
}

@if (turno.Estado == "En espera")
{
<span class="badge bg-warning text-dark">En espera</span>
}

@if (turno.Estado == "Atendido")
{
<span class="badge bg-success">Atendido</span>
}

@if (turno.Estado == "Cancelado")
{
<span class="badge bg-danger">Cancelado</span>
}

</td>

<td>$@turno.Precio</td>
<td>
<div class="btn-group">


<a class="btn btn-sm btn-outline-secondary"
asp-controller="Admin"
asp-action="Historial"
asp-route-mascotaId="@turno.MascotaId">

Ver historial

</a>

<a class="btn btn-sm btn-success"
asp-action="Atender"
asp-route-id="@turno.Id">
Atender
</a>

<a class="btn btn-sm btn-warning"
asp-action="EnEspera"
asp-route-id="@turno.Id">
En espera
</a>

<a class="btn btn-sm btn-danger"
asp-action="CancelarTurno"
asp-route-id="@turno.Id"
onclick="return confirm('¿Cancelar turno?')">
Cancelar
</a>

</div>
</td>
</tr>
}

</tbody>

</table>
</div>