@model List<AlqoMishi.Entidades.Turno>

<h2 class="mb-4">🩺 Agenda del veterinario</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No hay turnos para hoy.
    </div>
}
else
{
<table class="table table-striped shadow-sm">

<thead>
<tr>
<th>Hora</th>
<th>Mascota</th>
<th>Dueño</th>
<th>Estado</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

@foreach(var turno in Model)
{
<tr>

<td>
@turno.Franja.HoraInicio.ToString(@"hh\:mm")
</td>

<td>
🐾 @turno.Mascota.Nombre
</td>

<td>
@turno.Mascota.Propietario.Nombre
</td>

<td>

@if(turno.Estado == "Reservado")
{
<span class="badge bg-primary">Reservado</span>
}

@if(turno.Estado == "En espera")
{
<span class="badge bg-warning text-dark">En espera</span>
}

@if(turno.Estado == "Atendido")
{
<span class="badge bg-success">Atendido</span>
}

</td>

<td>

<a class="btn btn-sm btn-success"
asp-controller="Admin"
asp-action="Atender"
asp-route-id="@turno.Id">

Atender

</a>
@if (User.IsInRole("Admin") || !User.Identity.IsAuthenticated)
{
    
}
<a class="btn btn-sm btn-secondary"
asp-controller="Admin"
asp-action="Historial"
asp-route-mascotaId="@turno.MascotaId">

Historial

</a>

</td>

</tr>
}

</tbody>

</table>
}
<a asp-controller="Home"
   asp-action="Index"
   class="btn btn-outline-secondary mb-3">

⬅ Volver

</a>